<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fankui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,497},{309,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,194}}</string>
                <key>sourceSize</key>
                <string>{309,194}</string>
            </dict>
            <key>fankui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{493,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,214}}</string>
                <key>sourceSize</key>
                <string>{493,214}</string>
            </dict>
            <key>fankui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{531,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,216}}</string>
                <key>sourceSize</key>
                <string>{531,216}</string>
            </dict>
            <key>fankui_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,774}}</string>
                <key>sourceSize</key>
                <string>{712,774}</string>
            </dict>
            <key>fankui_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,808},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>fankui_shengbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,716},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fankui.png</string>
            <key>size</key>
            <string>{994,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f78ff2ef4ab614c08dddac8439d123:2b7c40c17931504837a7bc0dfe6674d1:7fddd4de1e656409e870afb658856c36$</string>
            <key>textureFileName</key>
            <string>fankui.png</string>
        </dict>
    </dict>
</plist>
