<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,205},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,205},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>cannon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>colorBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,205},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>colorBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,205},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>colorBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,205},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>colorBg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,205},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>colorBg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,205},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>skill_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>weapon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{924,327}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd64bc76c81d0d0272c8b8e5fbf8cae:691bc4ae73209ac0866f24a35f591479:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
