<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greenImg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{468,192},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>hint_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>hint_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,92},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>rubbishIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,235},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>rubbishIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>rubbishIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>rubbishIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rubbish.png</string>
            <key>size</key>
            <string>{558,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9899a0459eb5122dd796071b40d25879:d3f5ab833406821bf453137ff0521761:4c2e7727a280cb2c29d6b9d304b01319$</string>
            <key>textureFileName</key>
            <string>rubbish.png</string>
        </dict>
    </dict>
</plist>
