<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,685},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,792},{80,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,10}}</string>
                <key>sourceSize</key>
                <string>{80,10}</string>
            </dict>
            <key>bar1Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,771},{87,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,19}}</string>
                <key>sourceSize</key>
                <string>{87,19}</string>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,542},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>bar2Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,478},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,775},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,472},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>btn_vedio.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,349},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,775},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>collectNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,634},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>gameIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{195,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,200}}</string>
                <key>sourceSize</key>
                <string>{195,200}</string>
            </dict>
            <key>gameIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,178},{194,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,200}}</string>
                <key>sourceSize</key>
                <string>{194,200}</string>
            </dict>
            <key>gameIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{171,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,179}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,178},{163,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,100}}</string>
                <key>sourceSize</key>
                <string>{163,100}</string>
            </dict>
            <key>gameTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,343},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,66}}</string>
                <key>sourceSize</key>
                <string>{178,66}</string>
            </dict>
            <key>greenBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,111}}</string>
                <key>sourceSize</key>
                <string>{592,111}</string>
            </dict>
            <key>hint_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,327},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>hint_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,438},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>infoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,739},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>infoBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{276,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,292}}</string>
                <key>sourceSize</key>
                <string>{276,292}</string>
            </dict>
            <key>lajitong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,541},{159,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,225}}</string>
                <key>sourceSize</key>
                <string>{159,225}</string>
            </dict>
            <key>lajitong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,380},{159,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,225}}</string>
                <key>sourceSize</key>
                <string>{159,225}</string>
            </dict>
            <key>lajitong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,163},{159,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,224}}</string>
                <key>sourceSize</key>
                <string>{159,224}</string>
            </dict>
            <key>lajitong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{159,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,225}}</string>
                <key>sourceSize</key>
                <string>{159,225}</string>
            </dict>
            <key>pic_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,417},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>progressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,511},{121,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,20}}</string>
                <key>sourceSize</key>
                <string>{121,20}</string>
            </dict>
            <key>progressImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,605},{115,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,20}}</string>
                <key>sourceSize</key>
                <string>{115,20}</string>
            </dict>
            <key>public_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,417},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>public_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,765},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>public_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,643},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>public_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,511},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>public_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,327},{87,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,109}}</string>
                <key>sourceSize</key>
                <string>{87,109}</string>
            </dict>
            <key>public_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,506},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>public_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,683},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>public_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,606},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>public_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,175},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>public_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,693},{134,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{134,160}</string>
            </dict>
            <key>public_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,605},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>public_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,115},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>public_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,517},{74,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>public_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,606},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>public_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,606},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>public_soundclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,686},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>record_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,771},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>record_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,760},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>rubbishIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,359},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rubbishIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,541},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rubbishIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,175},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rubbishIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>searchBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,702},{127,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{127,124}</string>
            </dict>
            <key>sel_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,517},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>shengyuNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,359},{122,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{122,32}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{558,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,61}}</string>
                <key>sourceSize</key>
                <string>{558,61}</string>
            </dict>
            <key>yuanliangCount.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,324},{180,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,33}}</string>
                <key>sourceSize</key>
                <string>{180,33}</string>
            </dict>
            <key>zuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,702},{125,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,153}}</string>
                <key>sourceSize</key>
                <string>{125,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rubbish.png</string>
            <key>size</key>
            <string>{1009,831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1c9937d8e38b1f4f021fb517531505:8e15195b91c1165b7324ecc0a7cacb58:4c2e7727a280cb2c29d6b9d304b01319$</string>
            <key>textureFileName</key>
            <string>rubbish.png</string>
        </dict>
    </dict>
</plist>
