<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_addBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,399},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>main_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,263},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>main_cutBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,393},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>main_headMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{212,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,128}}</string>
                <key>sourceSize</key>
                <string>{212,128}</string>
            </dict>
            <key>main_hm_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,453},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>main_hm_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,453},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>main_radar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,259}}</string>
                <key>sourceSize</key>
                <string>{300,259}</string>
            </dict>
            <key>main_task_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,393},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>main_town.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{304,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4235dbb68a42dcb330f624722044bf6c:81a0c563743b2e8e6562d68d65a0175c:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
