<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KaiJu_DiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,837},{169,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>KaiJu_DiBan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,837},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>btn_54X68_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,850},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_54X68_Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,291},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_54X68_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,221},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>com_Blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,726},{80,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,10}}</string>
                <key>sourceSize</key>
                <string>{80,10}</string>
            </dict>
            <key>com_Blood_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,934},{87,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,19}}</string>
                <key>sourceSize</key>
                <string>{87,19}</string>
            </dict>
            <key>com_CaiDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,743},{312,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,92}}</string>
                <key>sourceSize</key>
                <string>{312,92}</string>
            </dict>
            <key>com_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,725},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>com_DiWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,95}}</string>
                <key>sourceSize</key>
                <string>{750,95}</string>
            </dict>
            <key>com_FenXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,658},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>com_GongJi.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,861},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>com_HeiKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,591},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>com_Jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,776},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>com_JinBi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,439},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>com_JinBi2 .png</key>
            <dict>
                <key>frame</key>
                <string>{{211,525},{335,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,216}}</string>
                <key>sourceSize</key>
                <string>{335,216}</string>
            </dict>
            <key>com_JinDu.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,239},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>com_JinDu_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,408},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>com_JiuGongGe.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,829},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>com_JiuGongGe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,920},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>com_LiangDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,850},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>com_LingWanDi.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,945},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>com_RenWu_Lighr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{195,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,145}}</string>
                <key>sourceSize</key>
                <string>{195,145}</string>
            </dict>
            <key>com_TanHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,889},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>com_TongYongMianBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,239},{38,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,167}}</string>
                <key>sourceSize</key>
                <string>{38,167}</string>
            </dict>
            <key>com_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,239},{485,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,110}}</string>
                <key>sourceSize</key>
                <string>{485,110}</string>
            </dict>
            <key>com_YeQian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{217,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,61}}</string>
                <key>sourceSize</key>
                <string>{217,61}</string>
            </dict>
            <key>com_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,958},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>com_bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,955},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>com_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,517},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>com_diamond_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,361},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>com_giftbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,239},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>com_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{461,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,235}}</string>
                <key>sourceSize</key>
                <string>{461,235}</string>
            </dict>
            <key>com_huidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>com_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,958},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>com_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,958},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>com_kuang-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,990},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>com_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,743},{111,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,105}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>text_ChuZhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,951},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>text_Di (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{576,981},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>text_Guan (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{576,945},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{625,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47c1c6aef605e8dc898d6c33c8c40f9b:cea4df4d0d423fb7fe7239c637f12fc3:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
