<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShuiNiDi_X7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,237}}</string>
                <key>sourceSize</key>
                <string>{123,237}</string>
            </dict>
            <key>hechegn_DengJi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,60},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>hechegn_Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,241},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hechegn_PuTongKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hechegn_XuXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{103,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,126}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>hechegn_YingZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,90},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>hechegn_bingying_Xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,90},{68,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,7}}</string>
                <key>sourceSize</key>
                <string>{68,7}</string>
            </dict>
            <key>hecheng_FenFen.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,228},{74,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>hecheng_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,304},{57,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,77}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>hecheng_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hecheng_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,304},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>hecheng_jiegu.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{154,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,178}}</string>
                <key>sourceSize</key>
                <string>{154,178}</string>
            </dict>
            <key>hecheng_liBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,130},{87,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,109}}</string>
                <key>sourceSize</key>
                <string>{87,109}</string>
            </dict>
            <key>hecheng_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>hecheng_qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,158},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>hecheng_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,158},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>hecheng_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,239},{102,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{102,114}</string>
            </dict>
            <key>text_TuoRu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{237,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,40}}</string>
                <key>sourceSize</key>
                <string>{237,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hecehgn.png</string>
            <key>size</key>
            <string>{500,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9c436b6211772ae3611745dbff7b7d:445ad3fb7eba507d65beb144c84b7596:686f48f99d373f8ee00a2a6686eb5166$</string>
            <key>textureFileName</key>
            <string>hecehgn.png</string>
        </dict>
    </dict>
</plist>
