<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{80,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{80,126}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,134},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,132},{94,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,128}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,134},{92,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{92,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{94,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,128}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,134},{94,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,128}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beautiful.png</string>
            <key>size</key>
            <string>{480,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abac688692d87aef5d789a1505e2957b:0f6f399a6c4dd57a0ba128da56d93ad2:c4fb889f89ea13b873c91d81e8429c91$</string>
            <key>textureFileName</key>
            <string>beautiful.png</string>
        </dict>
    </dict>
</plist>
