<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{188,257}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,257}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>102.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,382},{158,251}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{158,251}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{188,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{188,259}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,542},{188,257}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,257}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{188,259}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,801},{188,255}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{188,255}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{182,257}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{182,257}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,192},{188,253}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{188,253}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{188,253}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{188,253}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{186,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{186,259}}</string>
                <key>sourceSize</key>
                <string>{200,259}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beautiful.png</string>
            <key>size</key>
            <string>{518,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfaf0c505305171685e4503bcc4a6709:da358f5b96c2d00289ebcba0cd21672c:c4fb889f89ea13b873c91d81e8429c91$</string>
            <key>textureFileName</key>
            <string>beautiful.png</string>
        </dict>
    </dict>
</plist>
