<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{124,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,55}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{150,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,71}}</string>
                <key>sourceSize</key>
                <string>{150,71}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,174},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,119},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,53}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,174},{68,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,56}}</string>
                <key>sourceSize</key>
                <string>{68,56}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{91,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,60},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,98}}</string>
                <key>sourceSize</key>
                <string>{161,98}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{119,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>112.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,154},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build.png</string>
            <key>size</key>
            <string>{394,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398c16d3c75a8d84736ee2c3d5afe769:a6d4f8bc459817183667667c72abd738:62fd40e1776b9188209f115f86b211d5$</string>
            <key>textureFileName</key>
            <string>build.png</string>
        </dict>
    </dict>
</plist>
