<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,499},{404,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,234}}</string>
                <key>sourceSize</key>
                <string>{404,234}</string>
            </dict>
            <key>103.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{495,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,220}}</string>
                <key>sourceSize</key>
                <string>{495,220}</string>
            </dict>
            <key>104.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{600,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,284}}</string>
                <key>sourceSize</key>
                <string>{600,284}</string>
            </dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,479},{287,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,215}}</string>
                <key>sourceSize</key>
                <string>{287,215}</string>
            </dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,733},{291,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,213}}</string>
                <key>sourceSize</key>
                <string>{291,213}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,733},{273,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,225}}</string>
                <key>sourceSize</key>
                <string>{273,225}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,604},{362,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,222}}</string>
                <key>sourceSize</key>
                <string>{362,222}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,388},{343,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,228}}</string>
                <key>sourceSize</key>
                <string>{343,228}</string>
            </dict>
            <key>110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,392}}</string>
                <key>sourceSize</key>
                <string>{644,392}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{475,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,344}}</string>
                <key>sourceSize</key>
                <string>{475,344}</string>
            </dict>
            <key>112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{477,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,321}}</string>
                <key>sourceSize</key>
                <string>{477,321}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{384,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,244}}</string>
                <key>sourceSize</key>
                <string>{384,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build.png</string>
            <key>size</key>
            <string>{1511,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c614be07c9327cfa862f66422f6aa0fe:599891bbf215a8d245cbee9567eed62b:62fd40e1776b9188209f115f86b211d5$</string>
            <key>textureFileName</key>
            <string>build.png</string>
        </dict>
    </dict>
</plist>
