<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_54X68_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>fight_blackFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fight_blueFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fight_hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>fight_redFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>public2_vsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,72},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>public_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,93},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>public_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,126},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>public_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,93},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>public_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>public_bar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,66},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>public_bar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,134},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>public_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,35},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>public_daobing.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,94},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>public_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,85},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>public_gongbing.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,94},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>public_han.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,94},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>public_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,134},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>public_qibing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>public_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{500,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11c3c5f0397af8c4312a04fd7300a05:0b0874664b74b57e487259aad78da9e9:61dd7437dcad0349b25f7fe12580d28d$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
