<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,143},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,450},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,250},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,311},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>men_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,94},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>menu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,310},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>menu_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,85},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,81},{124,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,168}}</string>
                <key>sourceSize</key>
                <string>{124,168}</string>
            </dict>
            <key>menu_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,386},{152,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,83}}</string>
                <key>sourceSize</key>
                <string>{152,83}</string>
            </dict>
            <key>menu_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,471},{69,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>menu_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{122,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,119}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>menu_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{38,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,167}}</string>
                <key>sourceSize</key>
                <string>{38,167}</string>
            </dict>
            <key>menu_city1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,251},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>menu_city2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,42},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>menu_city3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menu_city4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,194},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>menu_city5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menu_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,311},{113,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,73}}</string>
                <key>sourceSize</key>
                <string>{113,73}</string>
            </dict>
            <key>menu_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,94},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>menu_flag_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,442},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,386},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,450},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,213},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,176},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>menu_general.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,256},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>menu_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,176},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>menu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,269},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>menu_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,386},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_liBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>menu_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,320},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>menu_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,130},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>menu_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,192},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>menu_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>menu_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,386},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,68},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>menu_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,384},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>menu_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,320},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>menu_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,254},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>menu_solider.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,384},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>menu_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,77}}</string>
                <key>sourceSize</key>
                <string>{247,77}</string>
            </dict>
            <key>menu_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>menu_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,194},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>public_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,42},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{643,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52755af7f21970e11b29de80583b33e9:a3787f2ca252ace25868c6146029e399:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
