<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,97},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_blue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,249},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,249},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,97},{54,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>com_FenXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,228},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>com_bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,163},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>hint_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,156},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>hint_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,407},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>men_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,416},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>menu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,305},{69,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,37}</string>
            </dict>
            <key>menu_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,156},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>menu_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,294},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,249},{124,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,168}}</string>
                <key>sourceSize</key>
                <string>{124,168}</string>
            </dict>
            <key>menu_bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{152,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,83}}</string>
                <key>sourceSize</key>
                <string>{152,83}</string>
            </dict>
            <key>menu_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{69,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>menu_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,389},{122,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,119}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>menu_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,249},{38,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,167}}</string>
                <key>sourceSize</key>
                <string>{38,167}</string>
            </dict>
            <key>menu_caocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,381},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>menu_cellBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>menu_city1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,237},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>menu_city2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,154},{150,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>menu_city3.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menu_city4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,407},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>menu_city5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>menu_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,320},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,306},{113,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,73}}</string>
                <key>sourceSize</key>
                <string>{113,73}</string>
            </dict>
            <key>menu_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,306},{74,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,52}}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>menu_flag_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,442},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,389},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,445},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_flag_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,389},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>menu_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,154},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>menu_general.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,199},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,46}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>menu_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,153},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_liBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,154},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,81}}</string>
                <key>sourceSize</key>
                <string>{79,81}</string>
            </dict>
            <key>menu_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,97},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>menu_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,219},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>menu_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,247},{158,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,141}}</string>
                <key>sourceSize</key>
                <string>{158,141}</string>
            </dict>
            <key>menu_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,199},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>menu_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,419},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>menu_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,419},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,199},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>menu_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,153},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>menu_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,97},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
            <key>menu_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,154},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,97},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>menu_solider.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>menu_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,77}}</string>
                <key>sourceSize</key>
                <string>{247,77}</string>
            </dict>
            <key>menu_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,199},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>menu_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,361},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>menu_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,255},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>public_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,305},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>public_head_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{224,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,128}}</string>
                <key>sourceSize</key>
                <string>{224,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1009,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cebcdb7cf36c4ef1eedec78dd9e362:0d00c99e7aecd24c1bc74a9ecee6a259:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
