<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao1_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{57,75}</string>
            </dict>
            <key>dao1_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>dao1_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{36,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,75}}</string>
                <key>sourceSize</key>
                <string>{36,75}</string>
            </dict>
            <key>dao1_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,79},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>dao1_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,79},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dao1_attack.png</string>
            <key>size</key>
            <string>{248,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16cd8e0cb4454f15a5c55ae1575e2e84:5b256d7178f8f123fee04a034d454c72:bce09449e01873bb66e4eec6e10f1cea$</string>
            <key>textureFileName</key>
            <string>dao1_attack.png</string>
        </dict>
    </dict>
</plist>
