<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public2_QiZhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,915},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,859},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,929},{49,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,929},{49,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_Quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,808},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,737},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,706},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_buluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,170},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public2_buqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,921},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>public2_chengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{150,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>public2_directionWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,910},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>public2_directionWheelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>public2_dushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,468},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>public2_guanai.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,706},{111,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>public2_jian_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,170},{190,9}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{190,9}}</string>
                <key>sourceSize</key>
                <string>{200,33}</string>
            </dict>
            <key>public2_jian_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,985},{192,21}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{192,21}}</string>
                <key>sourceSize</key>
                <string>{200,33}</string>
            </dict>
            <key>public2_quanBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>public2_quanPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>public2_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,839},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>public2_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,808},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>public2_shibing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>public2_vsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,737},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>public2_vsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,859},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>public2_yingzhai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,603},{148,132}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{148,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public2_yingzhai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,900},{78,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{78,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_yingzhai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,322},{150,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PublicRes2.png</string>
            <key>size</key>
            <string>{522,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5565dce91e53807b5ded73e440c1e42:9e5103075fe06dc387265d0e0d0b6d29:51fc9a9e87aa7dcdfda86f2d6e8477d7$</string>
            <key>textureFileName</key>
            <string>PublicRes2.png</string>
        </dict>
    </dict>
</plist>
