<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{86,92}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>baoda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{92,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>baoda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>baoda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,104},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoji.png</string>
            <key>size</key>
            <string>{190,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4944a9519b5b2b13da9ce3eb576ad27:dbaa851bcbef9372f22f29fe280fef92:28355f43c368b67a3d144ec53e497e78$</string>
            <key>textureFileName</key>
            <string>baoji.png</string>
        </dict>
    </dict>
</plist>
