<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qidwn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{88,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{88,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidwn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{86,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidwn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{84,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidwn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{88,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qidwn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{84,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{84,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qidown.png</string>
            <key>size</key>
            <string>{492,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33df3729efe9dee696fe37032c2ad84:60da2c5979357391597b1b0ff3aa95de:59a899193b769206f6cd63df2eb58a34$</string>
            <key>textureFileName</key>
            <string>effect_qidown.png</string>
        </dict>
    </dict>
</plist>
