<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_unshield_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,48},{38,38}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_unshield_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{44,44}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_unshield_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,176},{60,56}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{60,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_unshield_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,104},{70,70}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_unshield_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,82}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{80,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_unshield_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_unshield.png</string>
            <key>size</key>
            <string>{156,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a9c925dbf9b052de6ab5581dedf358d:59d9fb9a58f0fedae3a843ae0bdbf891:e441594cbff42d33a97643c014390901$</string>
            <key>textureFileName</key>
            <string>effect_unshield.png</string>
        </dict>
    </dict>
</plist>
