<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_unshield_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,262},{58,58}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{58,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_unshield_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,88},{68,66}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{68,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_unshield_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{88,84}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{88,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_unshield_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{106,104}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{106,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_unshield_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{118,122}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{118,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_unshield_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_unshield.png</string>
            <key>size</key>
            <string>{244,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4efc97287e1e5f770ccfc2c761b4335c:bc0ab7a7b36a6f5943b97a9c53cbd9f0:e441594cbff42d33a97643c014390901$</string>
            <key>textureFileName</key>
            <string>effect_unshield.png</string>
        </dict>
    </dict>
</plist>
