<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qidwn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{88,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{88,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qidwn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{86,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{86,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qidwn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{84,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{84,98}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qidwn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{88,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qidwn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{84,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{84,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qidown.png</string>
            <key>size</key>
            <string>{92,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc5745371ff5394828a85026f10495c:50a166b3c844c935092af0db48677ecc:59a899193b769206f6cd63df2eb58a34$</string>
            <key>textureFileName</key>
            <string>effect_qidown.png</string>
        </dict>
    </dict>
</plist>
