<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,132},{114,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{114,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qiup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{114,138}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{114,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qiup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,128}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{140,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qiup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,128}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{144,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>qiup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{122,136}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{122,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiup.png</string>
            <key>size</key>
            <string>{414,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db059fb780f16fc9804351b23a6c49d6:146169ecf06cd365044118155e8a8112:c33138dd1c276c73b0df6d1f0050c17d$</string>
            <key>textureFileName</key>
            <string>effect_qiup.png</string>
        </dict>
    </dict>
</plist>
