<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shield_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{140,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shield_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{140,148}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{140,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shield_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{132,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{132,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shield_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{140,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>shield_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_shield.png</string>
            <key>size</key>
            <string>{144,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9593e2141f07d24ff6b15c0c8c9636b7:79930bea880bb8711922c7c64001faa5:763407e39468735f26900ff508c99c64$</string>
            <key>textureFileName</key>
            <string>effect_shield.png</string>
        </dict>
    </dict>
</plist>
