<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,88},{76,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{76,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qiup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{76,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{76,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qiup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{94,84}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qiup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,84}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>qiup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,88},{82,90}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_qiup.png</string>
            <key>size</key>
            <string>{242,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33460e8272ba2fd3c2818d813af3f371:7e09d7379f110fccd38b9d037af948f2:c33138dd1c276c73b0df6d1f0050c17d$</string>
            <key>textureFileName</key>
            <string>effect_qiup.png</string>
        </dict>
    </dict>
</plist>
