<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>upgrade_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>upgrade_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>upgrade_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>upgrade_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>upgrade_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade.png</string>
            <key>size</key>
            <string>{250,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e81ddb71ced9e961bb27ee93aee1328a:48e545751d85157ea7ddb150f01e1a14:6e00fead66101ccdae7adde190701643$</string>
            <key>textureFileName</key>
            <string>upgrade.png</string>
        </dict>
    </dict>
</plist>
