<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,306},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>upgrade_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>upgrade_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,154},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>upgrade_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>upgrade_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>upgrade_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,150}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade.png</string>
            <key>size</key>
            <string>{186,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaccadf3a9885334ee361447ded95ab4:4722bdffda9d875e5caf5a5479594c70:6e00fead66101ccdae7adde190701643$</string>
            <key>textureFileName</key>
            <string>upgrade.png</string>
        </dict>
    </dict>
</plist>
