<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>figh_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>fight_arrowImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,263},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>fight_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,161},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>fight_benzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_bound.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,196},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fight_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,244},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>fight_dotImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,290},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fight_enemy_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,104},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fight_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>fight_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,157}}</string>
                <key>sourceSize</key>
                <string>{178,157}</string>
            </dict>
            <key>fight_jianlou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_land_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_land_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_land_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_liangku.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_my_camp.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,104},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{477,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34a21a977243a754a81d9b7cd1f3683c:6a0aa8920e5fb5794799989dfff5b88a:61dd7437dcad0349b25f7fe12580d28d$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
