<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao1_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>dao1_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dao1_attack.png</string>
            <key>size</key>
            <string>{278,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62401ab0594f76a32a07a22f8877b33:320c8957f512c944d77ce6465dd6eed3:bce09449e01873bb66e4eec6e10f1cea$</string>
            <key>textureFileName</key>
            <string>dao1_attack.png</string>
        </dict>
    </dict>
</plist>
