<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao2_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,79},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>dao2_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>dao2_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>dao2_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
            <key>dao2_default_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,75}}</string>
                <key>sourceSize</key>
                <string>{67,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dao2_default.png</string>
            <key>size</key>
            <string>{140,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93d657ec0ab5af8d930e1de67b30e3b:f54535f736313181966b7091463a4c5b:310e826972b34a76b7a2377aba64ecc3$</string>
            <key>textureFileName</key>
            <string>dao2_default.png</string>
        </dict>
    </dict>
</plist>
