<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general2_default1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>general2_default2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>general2_default3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>general2_default4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general2_default.png</string>
            <key>size</key>
            <string>{206,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29f4f53a9081dfd6de3423e00940bda:62e73fdac9ba05a53bfe28ca64d17b7e:1f30f5ace42c977a6a289e4a0e26bda1$</string>
            <key>textureFileName</key>
            <string>general2_default.png</string>
        </dict>
    </dict>
</plist>
