<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general1_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>general1_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>general1_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
            <key>general1_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,100}}</string>
                <key>sourceSize</key>
                <string>{127,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general1_attack.png</string>
            <key>size</key>
            <string>{233,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c8f9833daa586145f792c9e1e1f173c:a3a68eceaf79c3324f86df272678e746:8dcc2e6df597a2fc76c88664a7f53b9b$</string>
            <key>textureFileName</key>
            <string>general1_attack.png</string>
        </dict>
    </dict>
</plist>
