<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general1_default1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,104},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>general1_default2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>general1_default3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
            <key>general1_default4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,100}}</string>
                <key>sourceSize</key>
                <string>{77,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general1_default.png</string>
            <key>size</key>
            <string>{160,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a687eb72979f4edb202c47c3288dc51:e43514b9633bd6b9aac5207b185992b4:0d56fe83e2c069441f9c01536cc0b7aa$</string>
            <key>textureFileName</key>
            <string>general1_default.png</string>
        </dict>
    </dict>
</plist>
