<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gong2_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,38},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>gong2_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{35,64}</string>
            </dict>
            <key>gong2_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{34,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,63}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>gong2_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,38},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gong2_default.png</string>
            <key>size</key>
            <string>{122,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d5f5a46dd38dd4813beff4c43a08df6:228c292336f7fc26d3adc8152c8a0485:acc3d2218a903891a4d97b9c4775253c$</string>
            <key>textureFileName</key>
            <string>gong2_default.png</string>
        </dict>
    </dict>
</plist>
