<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiang1_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,64},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>qiang1_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>qiang1_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>qiang1_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiang1_default.png</string>
            <key>size</key>
            <string>{156,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903d7116ed4a9fa08eba5a3cf09f67a5:85552f2969e1bdb7096953b5184b2930:2c67bf0e5216d662770f72b7d4d28fdd$</string>
            <key>textureFileName</key>
            <string>qiang1_default.png</string>
        </dict>
    </dict>
</plist>
