<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,467},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>common_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,467},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,467},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,465},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,451},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>common_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,299},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,116},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>common_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,418},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,423},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,474},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,467},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,465},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>common_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>common_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>common_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,141},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_colorBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,253},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,253},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,161},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,161},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,375},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_enemyFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,425},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>common_enenyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,69},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>common_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,315},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,367},{28,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,49}}</string>
                <key>sourceSize</key>
                <string>{28,49}</string>
            </dict>
            <key>common_garrison.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,345},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>common_greenBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,141},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>common_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,435},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>common_infoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{99,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,232}}</string>
                <key>sourceSize</key>
                <string>{99,232}</string>
            </dict>
            <key>common_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,333},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_itemBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,241},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_itemBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,345},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>common_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,435},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common_listbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,199},{214,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,98}}</string>
                <key>sourceSize</key>
                <string>{214,98}</string>
            </dict>
            <key>common_listbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,99},{214,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,98}}</string>
                <key>sourceSize</key>
                <string>{214,98}</string>
            </dict>
            <key>common_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,197},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>common_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,474},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>common_myselFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,399},{64,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{64,98}</string>
            </dict>
            <key>common_redBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,133},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>common_reward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>common_reward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>common_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,283},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,345},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>common_tabBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,401},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>common_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,95}}</string>
                <key>sourceSize</key>
                <string>{327,95}</string>
            </dict>
            <key>common_useing.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,236},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>common_vedio.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,435},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>common_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,253},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>common_yellowBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,299},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{762,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa02127fd78a2f2a61964d9aae008ac7:4d5a0ad3080db747d26af81bc4083c4d:e6e1d41be9e9ac21801dc528a8878294$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
