<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao2_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,168},{45,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,75}}</string>
                <key>sourceSize</key>
                <string>{45,75}</string>
            </dict>
            <key>dao2_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>dao2_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,156},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,75}}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>dao2_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>dao2_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>dao2_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>dao2_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,79},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dao2_attack.png</string>
            <key>size</key>
            <string>{166,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c8ffe15cc4ebae7e8f594d4d47d512f:c5567a2cc2924be8403a5f854e05f0cd:479db90d9d6b052d7b6a92b53a47d38c$</string>
            <key>textureFileName</key>
            <string>dao2_attack.png</string>
        </dict>
    </dict>
</plist>
