<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general1_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{190,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{190,150}</string>
            </dict>
            <key>general1_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{190,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{190,150}</string>
            </dict>
            <key>general1_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{190,150}</string>
            </dict>
            <key>general1_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,150}}</string>
                <key>sourceSize</key>
                <string>{190,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general1_attack.png</string>
            <key>size</key>
            <string>{194,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:236b01d2cc902330f1dbdfab0c46f8b4:4c4a9c243ef80325fec581961e291b87:8dcc2e6df597a2fc76c88664a7f53b9b$</string>
            <key>textureFileName</key>
            <string>general1_attack.png</string>
        </dict>
    </dict>
</plist>
