<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gong1_default_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>gong1_default_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>gong1_default_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{35,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,59}}</string>
                <key>sourceSize</key>
                <string>{35,59}</string>
            </dict>
            <key>gong1_default_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{37,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,62}}</string>
                <key>sourceSize</key>
                <string>{37,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gong1_default.png</string>
            <key>size</key>
            <string>{46,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d0e850d9f4b7f5e2e3bdf3c210071bd:8fca3b4c4ae9e23311a5f865d065f279:62d0133f3c9689336e72a1ce1c1394bb$</string>
            <key>textureFileName</key>
            <string>gong1_default.png</string>
        </dict>
    </dict>
</plist>
