<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gong2_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,143},{41,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,72}}</string>
                <key>sourceSize</key>
                <string>{41,72}</string>
            </dict>
            <key>gong2_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>gong2_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>gong2_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>gong2_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,74},{45,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,67}}</string>
                <key>sourceSize</key>
                <string>{45,67}</string>
            </dict>
            <key>gong2_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gong2_attack.png</string>
            <key>size</key>
            <string>{102,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe5e8e41ab2834be1710ab2cc16beec:52e03edc6b598b4997f252c7e35b2903:785a67280edf8c28ef67239ddd22adbb$</string>
            <key>textureFileName</key>
            <string>gong2_attack.png</string>
        </dict>
    </dict>
</plist>
