<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public2_QiZhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,828},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,828},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,884},{49,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_QiZhi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,884},{49,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>public2_Quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,808},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,706},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,538},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_Quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,706},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_buqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,910},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>public2_chengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,283},{150,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>public2_directionWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,910},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>public2_directionWheelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>public2_dushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,148},{150,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{150,133}</string>
            </dict>
            <key>public2_guanai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{111,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{111,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>public2_quanBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>public2_quanPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,350}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>public2_sel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,640},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>public2_sel_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,890},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>public2_shibing.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,910},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>public2_vsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,808},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>public2_vsIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,640},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>public2_yingzhai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,404},{148,132}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{148,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public2_yingzhai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,730},{78,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{78,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>public2_yingzhai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{150,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PublicRes2.png</string>
            <key>size</key>
            <string>{506,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c5d84d18ff7aab9fe580e47ea1c7522:9c640c9681c34efce5ef1195a061adf1:51fc9a9e87aa7dcdfda86f2d6e8477d7$</string>
            <key>textureFileName</key>
            <string>PublicRes2.png</string>
        </dict>
    </dict>
</plist>
