<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{150,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{150,119}}</string>
                <key>sourceSize</key>
                <string>{150,125}</string>
            </dict>
            <key>dushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,150}}</string>
                <key>sourceSize</key>
                <string>{169,150}</string>
            </dict>
            <key>guanai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{137,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{137,124}}</string>
                <key>sourceSize</key>
                <string>{143,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PublicRes2.png</string>
            <key>size</key>
            <string>{154,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5113d9682718e2da2a0b2cb479251ec4:85b876203f002a791b83e645bbfb6413:51fc9a9e87aa7dcdfda86f2d6e8477d7$</string>
            <key>textureFileName</key>
            <string>PublicRes2.png</string>
        </dict>
    </dict>
</plist>
