<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_blue_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{177,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,106}}</string>
                <key>sourceSize</key>
                <string>{177,106}</string>
            </dict>
            <key>city_blue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,138},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>city_guanai.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,326},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>city_red_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{177,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,106}}</string>
                <key>sourceSize</key>
                <string>{177,106}</string>
            </dict>
            <key>city_red_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>city_yellow_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,106}}</string>
                <key>sourceSize</key>
                <string>{177,106}</string>
            </dict>
            <key>city_yellow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>city_yizu.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>cityflag_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,386},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>cityflag_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,330},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>cityflag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,274},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>cityflag_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,428},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city.png</string>
            <key>size</key>
            <string>{273,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:927ce9390f4f6118304afdb423cc5702:5a04807eae555c7d633567e840bb476b:39e36121e34d88ee9f5e38e7ee6d9b8e$</string>
            <key>textureFileName</key>
            <string>city.png</string>
        </dict>
    </dict>
</plist>
