<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,303},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>common_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,403},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,371},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,339},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,438},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>common_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>common_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,483},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,483},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,483},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,483},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_bar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,483},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>common_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>common_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>common_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,438},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>common_colorBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,400},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,308},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,399},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,391},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_colorBg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,391},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_enenyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,184},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>common_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,251},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common_fighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,215},{91,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,54}}</string>
                <key>sourceSize</key>
                <string>{91,54}</string>
            </dict>
            <key>common_garrison.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,206},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>common_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>common_infoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{99,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,232}}</string>
                <key>sourceSize</key>
                <string>{99,232}</string>
            </dict>
            <key>common_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,307},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_itemBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,299},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_itemBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,116},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>common_listbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,199},{214,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,98}}</string>
                <key>sourceSize</key>
                <string>{214,98}</string>
            </dict>
            <key>common_listbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,99},{214,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,98}}</string>
                <key>sourceSize</key>
                <string>{214,98}</string>
            </dict>
            <key>common_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,483},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>common_reward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,117},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>common_reward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,133},{136,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,80}</string>
            </dict>
            <key>common_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,299},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_sel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,215},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,303},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>common_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,95}}</string>
                <key>sourceSize</key>
                <string>{327,95}</string>
            </dict>
            <key>common_useing.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,206},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>common_vedio.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,370},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{606,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eecba53e8ce7b05ab65f2c61658a36e:dc849726b9d2d6c4442837492004c024:e6e1d41be9e9ac21801dc528a8878294$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
