<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charged_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>charged_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>charged_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>charged_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>charged_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongneng_effect_1.png</string>
            <key>size</key>
            <string>{173,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbfa913d1fe346f63759fe3b483be410:6ec111b57eb1187fd0d99fe19e115590:9c6e9dc0acea6ffb2630bf449daa1539$</string>
            <key>textureFileName</key>
            <string>chongneng_effect_1.png</string>
        </dict>
    </dict>
</plist>
