<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leaf_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,370},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,278},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,278},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,278},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,206},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,186},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,186},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,186},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,94},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,94},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,94},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>leaf_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuye_effect_1.png</string>
            <key>size</key>
            <string>{502,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12550f05b5dd5083ef4e714a40239dbf:5f191ab3c8fdb8fa29bc21911554fbd9:97178ba22e3c69b190379db83361057b$</string>
            <key>textureFileName</key>
            <string>shuye_effect_1.png</string>
        </dict>
    </dict>
</plist>
