<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{491,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,491}}</string>
                <key>sourceSize</key>
                <string>{491,491}</string>
            </dict>
            <key>chapter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{491,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,491}}</string>
                <key>sourceSize</key>
                <string>{491,491}</string>
            </dict>
            <key>chapter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,491}}</string>
                <key>sourceSize</key>
                <string>{491,491}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter.png</string>
            <key>size</key>
            <string>{988,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4057333e6b6e941e7b16c51967e41f4c:43b5f784c7fdb6c92312d1fb7b5549d9:f58a846f62a87822f95471b10a35c2b4$</string>
            <key>textureFileName</key>
            <string>chapter.png</string>
        </dict>
    </dict>
</plist>
