<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_Blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{80,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,10}}</string>
                <key>sourceSize</key>
                <string>{80,10}</string>
            </dict>
            <key>com_Blood_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,195},{87,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,19}}</string>
                <key>sourceSize</key>
                <string>{87,19}</string>
            </dict>
            <key>com_DiWen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,95}}</string>
                <key>sourceSize</key>
                <string>{750,95}</string>
            </dict>
            <key>com_FenXiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,99},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>com_JinDu.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,99},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>com_JinDu_Di.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,99},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>com_LiangDiBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,99},{94,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,82}</string>
            </dict>
            <key>com_TanHao.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,216},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>com_TongYongMianBan.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,209},{38,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,167}}</string>
                <key>sourceSize</key>
                <string>{38,167}</string>
            </dict>
            <key>com_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,99},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>com_bofang.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,99},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>com_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,177},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>com_diamond_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,99},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>com_jindutiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,216},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>com_jindutiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,216},{36,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,62}}</string>
                <key>sourceSize</key>
                <string>{36,62}</string>
            </dict>
            <key>com_kuang-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,209},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>hechegn_Kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,99},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hechegn_PuTongKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hecheng_Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,209},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>hecheng_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,99},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>text_TuoRu.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,167},{237,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,40}}</string>
                <key>sourceSize</key>
                <string>{237,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{756,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:437d8bf6ef66599bce0d096a87068a4a:35433c556e5a3da773a867b7b9a614c1:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
