<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,350},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_bagImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,264},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,286}}</string>
                <key>sourceSize</key>
                <string>{277,286}</string>
            </dict>
            <key>main_equipdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,420},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>main_equipdesc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,264},{84,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,25}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>main_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,344},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>main_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,273},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,226},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>main_skilldesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,393},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>main_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,275},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_soundclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,427},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>public_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,212},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>public_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,287},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>public_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,408},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,408},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,427},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,377},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>public_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>public_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,352},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>public_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,99},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,290},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,194},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>public_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,124},{153,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,99}}</string>
                <key>sourceSize</key>
                <string>{153,99}</string>
            </dict>
            <key>public_catmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,251},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>public_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,235},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>public_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,427},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>public_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,406},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>public_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,226},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>public_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,350},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>public_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,225},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>public_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,423},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>public_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,99},{134,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{134,160}</string>
            </dict>
            <key>public_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,342},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>public_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,251},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>public_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,124},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>public_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,420},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>public_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{327,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,95}}</string>
                <key>sourceSize</key>
                <string>{327,95}</string>
            </dict>
            <key>public_vedio.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,335},{96,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>title_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{237,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,60}}</string>
                <key>sourceSize</key>
                <string>{237,60}</string>
            </dict>
            <key>title_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,133},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>title_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{228,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,59}}</string>
                <key>sourceSize</key>
                <string>{228,59}</string>
            </dict>
            <key>title_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,442},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>title_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,275},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,63},{227,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,59}}</string>
                <key>sourceSize</key>
                <string>{227,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{973,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b166981e6db1b674ee27cb9e26783dff:d70d68f5d06bd8391985a6747b118366:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
