<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,817},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,286}}</string>
                <key>sourceSize</key>
                <string>{277,286}</string>
            </dict>
            <key>main_equipdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,841},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>main_equipdesc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,507},{84,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,25}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>main_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,939},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,740},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_soundclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,663},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>public_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,777},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>public_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,513},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>public_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,824},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,215},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>public_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,215},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>public_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,858},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>public_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,595},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>public_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,442},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,290},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,63},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>public_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,990},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>public_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{153,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,99}}</string>
                <key>sourceSize</key>
                <string>{153,99}</string>
            </dict>
            <key>public_catmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,594},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>public_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,639},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>public_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,838},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>public_del.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,929},{77,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,83}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>public_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,905},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>public_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,961},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>public_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,594},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>public_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,225},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>public_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,894},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>public_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,63},{134,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,160}}</string>
                <key>sourceSize</key>
                <string>{134,160}</string>
            </dict>
            <key>public_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,781},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>public_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,401},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>public_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,554},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>public_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,497},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>public_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,507},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>public_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,347},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>public_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{327,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,95}}</string>
                <key>sourceSize</key>
                <string>{327,95}</string>
            </dict>
            <key>public_vedio.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,841},{96,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>record_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,781},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>record_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,961},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>sel_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,841},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>title_chapter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{247,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,59}}</string>
                <key>sourceSize</key>
                <string>{247,59}</string>
            </dict>
            <key>title_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,619},{237,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,60}}</string>
                <key>sourceSize</key>
                <string>{237,60}</string>
            </dict>
            <key>title_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,663},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>title_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,594},{228,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,59}}</string>
                <key>sourceSize</key>
                <string>{228,59}</string>
            </dict>
            <key>title_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,339},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>title_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{248,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,59}}</string>
                <key>sourceSize</key>
                <string>{248,59}</string>
            </dict>
            <key>title_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,290},{221,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,53}}</string>
                <key>sourceSize</key>
                <string>{221,53}</string>
            </dict>
            <key>title_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,781},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>title_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,594},{227,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,59}}</string>
                <key>sourceSize</key>
                <string>{227,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{574,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0489d4ee03814ed9049b78ef148e13bc:033a87876832a47f8b8dad64d42dff2f:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
