<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,376},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_bagImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,236},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>main_equipdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,245},{82,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,25}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>main_equipdesc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,349},{84,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,25}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
            <key>main_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,473},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>main_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,376},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,473},{78,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,36}}</string>
                <key>sourceSize</key>
                <string>{78,36}</string>
            </dict>
            <key>main_skilldesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,362},{102,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,32}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>main_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,396},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>main_soundclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,396},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>public_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,453},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>public_bgwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,144},{99,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>public_bgyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,245},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>public_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,406},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,66}}</string>
                <key>sourceSize</key>
                <string>{88,66}</string>
            </dict>
            <key>public_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>public_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>public_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>public_boxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,144},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>public_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{153,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,99}}</string>
                <key>sourceSize</key>
                <string>{153,99}</string>
            </dict>
            <key>public_catmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,362},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>public_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>public_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,450},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>public_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,453},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>public_goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,204},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>public_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{130,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,156}}</string>
                <key>sourceSize</key>
                <string>{130,156}</string>
            </dict>
            <key>public_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,329},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{552,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe1a9ca04e849a277d208edf578df9f:79d1a2f0362d73318c79e5d05e8724da:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
