<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoda1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,209},{176,184}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{176,184}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>baoda2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>baoda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{200,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,205}}</string>
                <key>sourceSize</key>
                <string>{200,205}</string>
            </dict>
            <key>baoda4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoji.png</string>
            <key>size</key>
            <string>{426,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0af48b673697ea7bb27caf6db09cd32:de9a3d5241f7918c214a1898756b36a8:28355f43c368b67a3d144ec53e497e78$</string>
            <key>textureFileName</key>
            <string>baoji.png</string>
        </dict>
    </dict>
</plist>
